<% content_for :title, "Editing user" %>

<div class="w-full mb-16">
  <%= render "form", user: @user %>
</div>

<script>
  function togglePassword(fieldId, button) {
    const field = document.getElementById(fieldId);
    const icon = button.querySelector("svg");

    if (field.type === "password") {
      field.type = "text";
      icon.classList.add("text-blue-500");
    } else {
      field.type = "password";
      icon.classList.remove("text-blue-500");
    }
  }
</script>